@import "~ag-grid-community/styles/ag-grid.css";
@import "~ag-grid-community/styles/ag-theme-balham.css";

$headerBackgroundColor: #1c1c1c;
$backgroundColor: #1b2020;
$backgroundColor2: #272727;
$backgroundColor3: #15191a;
$backgroundColor4: #2d3436;

$buttonColor: #2d3436;
$buttonHoverColor: #3d474a;

$navbarTextColor: #dbdbdb;
$titleTextColor: #ffffff;
$subtitleTextColor: #cacaca;
$textColor: #f5f5f5;
$sidebarWidth: 250px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

button {
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: $buttonColor;
    color: $textColor;
}

button:hover {
    background-color: $buttonHoverColor;
}

.iconButton {
    background-color: transparent;
    // padding: 0;
}

input {
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: $buttonColor;
    color: $textColor;
}

input:focus {
    outline-color: $buttonHoverColor;
}

.icon {
    vertical-align: bottom;
}

.pageTitle {
    h1 {
        color: $titleTextColor;
        font-size: 2rem;
    }

    h2 {
        font-weight: normal;
        color: $subtitleTextColor;
        font-size: 1rem;
        padding-top: 5px;
        padding-bottom: 0px;
    }
}

.mainContent {
    width: calc(100% - $sidebarWidth);
    left: $sidebarWidth;
    position: absolute;
    height: 100%;
    display: flex;
    font-size: 3rem;
    background-color: $backgroundColor;
}

// .ag-theme-balham-dark {
    // --ag-background-color: $background-color-main;
    // --ag-background-color: white;
    // --ag-odd-row-background-color: $--ag-background-color;
// }

.gridHeader {
    width: 100%;
    overflow: auto;

    button {
        margin: 0px 0px 5px 0px;
        float: right;
    }
}

///* Add view CSS */
.viewContainer {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    position: relative;
    width: 100%;
}


.addViewContainerActive {
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(100, 100, 100, .5);
}

.addViewContainerHidden {
    display: none;
}

.addView {
    width: 45%;
    height: 65%;
    background-color: $backgroundColor;
    border-radius: 25px;
    padding: 20px 30px 20px 30px;
    color: $textColor;

    select {
        color: $textColor;
        border: none;
        border-radius: 5px;
        background-color: $buttonColor;
        height: 100%;
        margin: 0px 5px 0px 0px;
    }

    .ruleCheckContainer {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .setRuleOpContainer {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% - 95px);
    }

    .ruleOp,
    .ruleCheck {
        height: 25px;
        margin: 2.5px 0px 2.5px 0px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .checkFieldValue {
        width: calc(100% - 280px); //todo use flexbox
    }

    .setRuleFieldValue {
        width: calc(100% - 140px); //todo use flexbox
    }

    .fieldSelector {
        width: 90px;
        vertical-align: middle;
    }

    .fieldOpSelector {
        width: 130px;
        vertical-align: middle;
    }

    .ruleOpTypeSelector {
        height: 25px;
        width: 90px;
    }

    .iconButton {
        height: 100%;
        width: 25px;
        padding: 0;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
    }
}

.navMenu {
    background-color: $backgroundColor3;
    width: $sidebarWidth;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    color: $navbarTextColor;

    ul {
        width: 100%;   
    }

    .navTitle {
        width:100%;
        font-size: 18px;
        padding: 30px 0px 30px 16px;
        font-weight: bold;
    }

    .navText {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 8px 0px 8px 16px;
        list-style: none;
        height: 60px;

        a {
            text-decoration: none;
            color: $navbarTextColor;
            font-size: 18px;
            width: 95%;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 16px;
            border-radius: 4px;
        }

        a:hover {
            background-color: #000000;
            color: #fff;
        }
    }
}
